body {
  /*background: #2b211a linear-gradient(to top, black, #40080A);*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100%;
  padding: 0;
}

/*  Topo */
.topo{
  background: black; 
  /* background: #2b211a linear-gradient(to bottom, black, #40080A);
  background: linear-gradient(to top, black, #303030); */
  height: 50px;
  width: 100%;
}
.navbar {
  background: black;
  box-shadow: 0px 10px 10px;
}
.navbar-toggler {
  margin-left: 10px;
}

.topo .area_logo {
  position: relative;
}
.topo .logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav .nav-item > a {
  background: green;
  border: 1px solid green;
  border-radius: 25px;  
  color: white;
  text-decoration: none;
  width: 100px;
  text-align: center;
}
.nav .nav-item > a:hover{
  background: #fff;
  color: black;
  border-color: white;
}

.navbar-collapse {
  padding-top: 25px;
}
/*  Fim - Topo */

/*  Banner */
.banner {
  background: url(../img/banner/banner-fundo.png) 100%;
  /*background: #2b211a linear-gradient(to bottom, black, #4b3621) repeat-x;*/
  height: 390px;
  width: 100%;
  padding-top: 25px;
  margin-bottom: 60px;
}

.banner .carousel {
  background: white url(../img/bg/sombra1.png) bottom no-repeat;
  padding: 5px;
  box-shadow: 0px 3px 10px;
}
/*  Fim - Banner */

/*  lis_inf */
.lis_inf li{
  margin-bottom: 30px;
}
.lis_inf .media-heading {
  color: #674d43;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid white;
}
.lis_inf a{
  color: #674d43;
  text-decoration: none;
}
.lis_inf a:hover{
  color: white;
}

.lis_inf .media-body .media {
  color: #666666;
  font-size: 12px;
  text-align: justify;
  display: inline-block;
}

.lis_inf .media-body .media a {
  color: #674d43;
  font-size: 14px;
  display: block;
  font-weight: bold;    
  padding: 10px 0;
}
/*  Fim - lis_inf */

/*  Objetivo */
.objetivo {
  height: 250px;
}
/*  Fim - Objetivo */

/*  Projeto */
.projeto {
  background: black;
  height: 200px;
  padding: 10px;
}

.projeto .linha {
  background-color: white repeat-y;
  height: 75%;
  width: 1px;
}
/*  Fim - Projeto */

/*  Contato */
.contato {
  height: 100px;
}
/*  Fim - Contato */

/*  Copyright */
.copyright {
  margin-top: 10px;
  height: 50px;
  width: 100%;
  color: white;
  background: black;
  text-align: center;
  text-shadow: 1px 2px 3px white;
}
/*  Fim - Copyright */
